header p {
    color:blue;
}

main p{
    color: darkred;
}

h1{
    color:cadetblue;
}

#maintitle {
    color:darkgoldenrod;

}

#firstparagraph {
    color: teal;

}

#secondquestion {
    color: blueviolet;
}

#spantag {
    color: green;
    font-weight: bold;
}

#divtag {
    color: palevioletred;
    font-size: large;
}